.border {
  border: 2px black solid;
}

img {
  height: 150px;
  width: 150;
}

.author {
  margin: 20px 250px
}

.published {
  margin-top: -37px;
  margin-left: 610px;
}

.title {
  position: relative;
  right: 580px;
}

.description {
  margin-left: 200px;
  margin-bottom: auto;
}

.back {
  margin-left: 900px;
  margin-top: 10px;
}

h4 {
  display: inline-block;
  margin: 0 10px 0 0;
}
